body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: rgb(90, 185, 170);
}

.quem-somos {
    background-color: rgb(15, 84, 124);
    color: whitesmoke;
}

.parceiros {
    background-color: rgb(24, 110, 131);
    color: white;
}

.padding {
    padding-top: 10px;
    padding-bottom: 50px;
}

.bg-footer {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 1px;
}

.bg-footer a {
    text-decoration: none;
    color: rgb(206, 206, 206);
}